<style>
table, th, td{
    border:1px solid black;
}
</style>
<table>
    <th>item_name</th>
    <th>price </th>
    <th>owner</th>
    <th>time</th>
    <% User.where(id:session[:id]).first.inventories.each do |s| %>
        <tr>
                <td><%= Item.find(s.item_id).name %></td>
                <td><%= s.price %></td>
                <td><%= User.find(Item.find(s.item_id).user_id).name %></td>
                <td><%= s.timestamp %></td>
        </tr>
    <%end%>
</table>